@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} 


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}



.slides-container {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

button.join-button {
  border-radius: 90px;
  padding: 7px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  color: white;
  font-weight: bold;
  background: linear-gradient(135deg, #ED6D31 0%, #EB4432 100%);
  align-items: center;

  border: unset;
}

button.join-button:hover {
  cursor: pointer;
}

button.join-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.join-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.join-button:hover span {
  padding-right: 25px;
}

button.join-button:hover span:after {
  opacity: 1;
  right: 0;
}

button.join-button:active {
  cursor: pointer;
  transform: translateY(4px);
}
.emphasis-text {
  background-image: url('/TestimonialDesign.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.accordion-trigger {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  transition: background-color 0.2s ease-in-out;
  padding-block: 16px;
  width: 100%;
  justify-content: space-between;
  text-align: left;
}


.accordion-content {
  font-weight: 400;
  font-size: 16px;
  color: rgba(34, 34, 34, 0.52);
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .accordion-trigger {
    font-size: 14px;
  }
  .accordion-content{
    font-size: 12px;
  }
  
}

.typeWriter-cursor {
  color: #ED6D31;
}

/* div.superhr-left-section {
  min-width: 50%;
  min-height: 100vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-self: center;
  box-sizing: border-box;
  gap: 10vh;
} */

/* div.superhr-right-section {
  min-width: 60%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}

div.superhr-right-section img {
  width: 70%;
  max-width: 560px;
  min-width: 240px;
}

@media (max-width: 600px) {
  body {
    display: unset;
  }
  div.superhr-left-section {
      min-height: unset;
  }
  div.superhr-right-section img {
      width: 90%;
      margin-bottom: -40px;
      height: auto;
  }

  button.join-button{
      max-width: 160px;
      max-height: 45px;
      font-size: 16px;
      margin-top: -13px;
  }

  div.social-media  {
      margin: auto;
  }
} */